{% extends 'index.html' %}
{% block title %}<title>Контакты</title>{% endblock %}
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	{% block description %}<meta name="description" content="контакты" />{% endblock %}
	{% block keywords %}
	<meta name="keywords" content="контакты" />
	{% endblock %}
{% block content %}
<div id="article">
<h2>Контакты</h2>
	<p>Мы находимся по адресу г. Мурманск, ул.Кирова, д.25</p>
	<p>Мы работаем с 10:00 до 21:00 без перерыва и выходных.</p>
	<p>А вообще это тестовый сайт, который был создан в обучащем курсе </p>
	<p>В связи с этим, данный сайт ничего в реальности не продаёт. Поэтому, заказав какой-нибудь фильм, не стоит ждать, что он к Вам придёт.</p>
</div>
{% endblock %}